//mixin

@mixin headers($font-size, $font-weight, $line-height, $margin-bottom){
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}